@media only screen and (min-width: 768px) and (max-width: 1040px) { 

  .content {
    padding: 0 3%;
  }

}

@media only screen and (min-width: 1040px) {

  body {
    font-size: 19px;
    line-height: 1.7em;
  }
  
  header h2 {
    font-size: 1.8em;
    line-height: 1.3em;
    height: 76px;
    padding-bottom: .45em;
  }
    header h2 span {
      line-height: 1.35em;
    }

}
