@media only screen and (min-width: 900px) and (max-width: 1040px) { 


}

@media only screen and (min-width: 1200px) {

  body {
    font-size: 19px;
    line-height: 1.7em;
  }
  
  header h2 {
    font-size: 1.8em;
    line-height: 1.3em;
    height: 76px;
    padding-bottom: .44em;
  }
    header h2 span {
      line-height: 1.35em;
    }

  .content {
    max-width: 1040px;
    margin: 3% auto 1%;
    padding: 0;
  }

}
